<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TGSTurbo</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/static/js/main.js"></script>
</head>
<body>
	<navbar>
		<left>Made by MainFox❤️</left>
		<right><i class="bi bi-telegram"></i></right>
		<right><i class="bi bi-github"></i></right>
	</navbar>
	<div class="content">
		{% block content %}{% endblock %}
	</div>
	<div class="content-h">
		{% block contenth %}{% endblock %}
	</div>
</html>
